@font-face {
  font-family: SFNSRounded;
  src: url("../fonts/SFNSRounded.ttf");
}

.header {
  background-color: #333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner {
  height: 170px;
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.collInfo {
  display: flex;
  margin-top: -83.5px;
  align-items: flex-end;
}

.icon {
  height: 167px;
  width: 167px;
  margin-left: 50px;
}

.collName {
  margin-left: 25px;
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
}

.snipe {
  border-bottom: solid 2px #7ed957;
  width: 180px;
  margin-left: 50px;
}

.snipeTitle {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
}

.snipeParams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 50px 0px 50px;
  user-select: none;
}

.showTokens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 50px;
}

.tokenStats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 50px;
}

.token {
  padding: 10px;
  margin: 10px;
  border: 1px #4d4d4d solid;
  border-radius: 5px;
}

.token:hover {
  border-color: #7ed957;
}

.tokenInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
}

.tokenHide {
  display: none;
}

.raritydisabled,
.traitsdisabled {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.raritydisabled .raritydisabledtext,
.traitsdisabled .traitsdisabledtext {
  display: none;
  width: 160px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -80px;
}

.raritydisabled .raritydisabledtext::after,
.traitsdisabled .traitsdisabledtext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.raritydisabled:hover .raritydisabledtext,
.traitsdisabled:hover .traitsdisabledtext {
  display: block;
}

.rarityCheckbox:disabled:hover {
  cursor: not-allowed;
}
